<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Add Brand To The System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link href="/css/addBrand.css" rel="stylesheet" type="text/css"></link>

    </head>
<body>

<form name="addBrand" action="#"  th:action="@{/addBrand}" th:object="${newBrand}" method="POST">
<h1>Add Brand</h1>
    <p>Brand Name: <input type="text" th:field="*{name}" /></p>
    <p>Brand Category: <input type="text" th:field="*{category}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
     </form>
    </body>

</html>