<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title> Add product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
<body>
<form name="addstore" action="#"  th:action="@{/addStore}" th:object="${newstore}" method="POST">
    <p>storeID: <input type="text" th:field="*{storeID}" /></p>
    <p>ownerusername: <input type="text" th:field="*{ownerusername}" /></p>
    <p>name: <input type="text" th:field="*{name}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
     </form>
    </body>
</html>